# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
project_files/
user_files/
*/*/migrations/*
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
cover/
env/
venv/
ENV/
env.bak/
venv.bak/
site/

# Django
*.log
*.log.*
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/*
!media/.gitkeepcd
!media/*/
!media/*/.gitkeep
staticfiles/
debug*.*
# Tailwind CSS and Node.js
node_modules/
*.log.*
*.lock
logs/*
!logs/.gitkeep
# macOS
.DS_Store
logs/*
!logs/.gitkeep
# VSCode
.vscode/
.env

.idea/
*.docx
*.pdf
*.doc
*.xls
*.xlsx
*.ppt
*.pptx
