{% extends 'base.html' %}

{% block content %}

<div class="flex flex-col justify-center items-center mx-auto max-w-md form_inner_password h-calc-100-minus-100">
    <h2 class="h2">Effettua il reset la password</h2>
    <p class="text-center p">Inserisci il tuo indirizzo email e ti invieremo un link per resettare la tua password.</p>
    <form method="post" class="mt-4 w-full">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="input_form">
            {{ form.email.errors }}
            <input type="email" name="email" id="id_email" placeholder="Email" class="" required>
        </div>
        <div class="flex justify-center mt-6">
            <button type="submit" class="btn btn-primary">
                Invia link di reset
            </button>
        </div>
    </form>
</div>
{% endblock %}