{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="form_inner_password">
    <h2 class="mb-7 h2">Inserisci la tua nuova password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="relative mb-1 input_form">
            {{ form.new_password1.errors }}
            <input type="password" name="new_password1" id="id_new_password1" class="" placeholder="Nuova password"
                required>
            <span class="flex absolute inset-y-0 right-0 items-center pr-3">
                <i class="cursor-pointer far fa-eye" id="toggle-password1"></i>
            </span>
        </div>
        <div class="my-2 error p">
            {{ form.new_password2.errors }}

        </div>
        <div class="relative mb-4 input_form">
            <input type="password" name="new_password2" id="id_new_password2" class=""
                placeholder="Conferma nuova password" required>
            <span class="flex absolute inset-y-0 right-0 justify-center items-center pr-3 h-[100%]">
                <i class="cursor-pointer far fa-eye" id="toggle-password2"></i>
            </span>
        </div>

        <div class="flex justify-center mt-6">
            <button type="submit" class="btn btn-primary">Resetta password</button>
        </div>
    </form>
</div>
<script>
    const togglePassword1 = document.getElementById('toggle-password1');
    const togglePassword2 = document.getElementById('toggle-password2');
    const passwordField1 = document.getElementById('id_new_password1');
    const passwordField2 = document.getElementById('id_new_password2');

    function togglePasswordVisibility(passwordField, toggleButton) {
        if (passwordField && toggleButton) {
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                toggleButton.classList.remove('fa-eye');
                toggleButton.classList.add('fa-eye-slash');
            } else {
                passwordField.type = 'password';
                toggleButton.classList.remove('fa-eye-slash');
                toggleButton.classList.add('fa-eye');
            }
        } else {
            console.error('Elementi password o toggle non trovati');
        }
    }

    togglePassword1.addEventListener('click', function () {
        togglePasswordVisibility(passwordField1, togglePassword1);
    });

    togglePassword2.addEventListener('click', function () {
        togglePasswordVisibility(passwordField2, togglePassword2);
    });
</script>
{% endblock %}