{% extends "base.html" %}

{% block title %}Imposta Password{% endblock %}

{% block content %}
<div class="flex flex-col justify-center items-center form_inner_password h-[90vh]">
    <h2 class="mb-7 text-center h2">Imposta la tua password</h2>
    <form method="post" class="w-full max-w-md">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="relative mb-1 input_form">
            {{ form.old_password.errors }}
            <input type="password" name="old_password" id="id_old_password" class="" placeholder="Password temporanea"
                required>
            <span class="flex absolute inset-y-0 right-0 items-center pr-3">
                <i class="cursor-pointer far fa-eye" id="toggle-password-old"></i>
            </span>
        </div>

        <div class="relative mb-1 input_form">
            {{ form.new_password1.errors }}
            <input type="password" name="new_password1" id="id_new_password1" class="" placeholder="Nuova password"
                required>
            <span class="flex absolute inset-y-0 right-0 items-center pr-3">
                <i class="cursor-pointer far fa-eye" id="toggle-password1"></i>
            </span>
        </div>

        <div class="my-3 text-center error p">
            {{ form.new_password2.errors }}
        </div>

        <div class="relative mb-4 input_form">
            <input type="password" name="new_password2" id="id_new_password2" class=""
                placeholder="Conferma nuova password" required>
            <span class="flex absolute inset-y-0 right-0 justify-center items-center pr-3 h-[100%]">
                <i class="cursor-pointer far fa-eye" id="toggle-password2"></i>
            </span>
        </div>

        <div class="flex justify-center mt-6">
            <button type="submit" class="btn btn-primary">Conferma</button>
        </div>
    </form>
</div>

<script>
    // Script per mostrare/nascondere le password
    document.getElementById('toggle-password-old').addEventListener('click', function () {
        togglePasswordVisibility('id_old_password', 'toggle-password-old');
    });
    document.getElementById('toggle-password1').addEventListener('click', function () {
        togglePasswordVisibility('id_new_password1', 'toggle-password1');
    });
    document.getElementById('toggle-password2').addEventListener('click', function () {
        togglePasswordVisibility('id_new_password2', 'toggle-password2');
    });

    function togglePasswordVisibility(inputId, toggleId) {
        const input = document.getElementById(inputId);
        const icon = document.getElementById(toggleId);
        
        if (input.type === 'password') {
            input.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            input.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }
</script>
{% endblock %}