{% extends "layout_user.html" %}
{% block title %}
    Elimina Account
{% endblock %}
{% block content %}
{% load static %}
<div>
    {% if request.user_agent.is_mobile %}
    <div class="back_mobile">
        <a href="/user/user_dashboard" class="font-bold text-main_color text-[14px] absolute top-[120px] left-[20px]">Torna indietro</a>
    </div>
    {% else %}

    {% endif %}
    <h1 class="mt-3 mb-[30px] md:mt-0 h3 md:text-left">Elimina Account</h1>
    
    <div class="mb-[50px]">
        <p class="mb-4 p">Sei sicuro di voler eliminare il tuo account?</p>
        <p class="mb-4 text-red-600 p">Questa azione è irreversibile. Tutti i tuoi dati saranno eliminati definitivamente.</p>
    </div>

    <form method="post" class="mt-5">
        {% csrf_token %}
        <div class="flex gap-x-4 justify-center">
            <a href="/user/" class="btn border_button_general">Annulla</a>
            <button type="submit" class="text-white bg-red-600 border-none btn hover:bg-red-700" style="border-color: red !important;">Elimina Account</button>
        </div>
    </form>
</div>

{% endblock %}