{% extends "layout_legal.html" %}
{% block title %}
    Disclaimer
{% endblock %}
{% block content %}
{% load static %}
<div class="h-calc-100-minus-200 px-4 sm:px-6 md:px-12 lg:px-24 xl:px-[200px] pt-[100px] sm:pt-[150px] md:pt-[200px] pb-[30px] sm:pb-[40px] md:pb-[60px]">
    <h2 class="h2 mb-[20px]">DISCLAIMER DI LIMITAZIONE DI RESPONSABILITÀ - TEST FOCUS GROUP</h2>
    
    <p class="p mb-[20px]">In vigore dal 5 marzo 2025</p>
    
    <h3 class="h3 mb-[20px]">1 Premesse</h3>
    <p class="p mb-[20px]">1.1 I prodotti basate su intelligenza artificiale rappresentano strumenti di alta tecnologia in continua evoluzione, il cui livello di accuratezza e affidabilità migliora progressivamente con l'utilizzo e l'ottimizzazione dei dati. In questa fase di prototipazione, è fisiologica e lecita l'applicazione di limitazioni di responsabilità da parte degli sviluppatori e dei fornitori, in quanto il Software non può garantire risultati definitivi, certificabili o privi di errori. Pertanto, l'unico responsabile dell'utilizzo dei risultati generati dall'IA è il Professionista, il quale ha l'obbligo di verificarne la correttezza, adattarli alle specifiche esigenze tecniche e assicurarsi della loro conformità alle normative vigenti.</p>
    <p class="p mb-[20px]">1.2 L'uso del software di intelligenza artificiale denominato "Prototipo 1+" (di seguito, il "Software"), sviluppato e fornito dalla startup Wattover S.r.l., è subordinato all'accettazione integrale del presente Disclaimer di Limitazione di Responsabilità.</p>
    
    <h3 class="h3 mb-[20px]">2 Esclusione di responsabilità</h3>
    <p class="p mb-[20px]">2.1 La startup Wattover S.r.l., i suoi amministratori, dirigenti, dipendenti, collaboratori, partner commerciali, sviluppatori, fornitori ed esterni e fornitori di servizi (di seguito, le "Parti Escluse") non assumono alcuna responsabilità per errori, bug, malfunzionamenti e inaccuratezze nei risultati generati dal Software.</p>
    <p class="p mb-[20px]">2.2 Il Software è fornito "così com'è" e "come disponibile", senza alcuna garanzia espressa o implicita di correttezza, affidabilità, adeguatezza o idoneità per uno scopo specifico. La startup Wattover S.r.l. non garantisce che il Software operi senza interruzioni, né che i risultati ottenuti siano privi o conformi alle normative vigenti in ambito tecnico, progettuale o ingegneristico.</p>
    
    <h3 class="h3 mb-[20px]">3 Limitazioni d'Uso del Software</h3>
    <p class="p mb-[20px]">3.1 Il Software Prototipo 1+ è utilizzabile esclusivamente a scopo di test e valutazione preliminare. Non può essere utilizzato per attività ingegneristiche, la partecipazione a bandi di gara, la progettazione definitiva o esecutiva di impianti tecnologici, né per qualsiasi altra attività che richieda certificazioni o conformità a standard normativi e tecnici.</p>
    <p class="p mb-[20px]">3.2 L'utente riconosce e accetta che qualsiasi uso del Software al di fuori di tali limiti è sotto la sua esclusiva responsabilità, sollevando la startup Wattover S.r.l e le Parti Escluse da ogni obbligo di verifica, convalida o certificazione dei risultati forniti.</p>
    
    <h3 class="h3 mb-[20px]">4 Verifica dei dati e responsabilità del professionista</h3>
    <p class="p mb-[20px]">4.1 Il Software è uno strumento di supporto e non sostituisce in alcun modo il giudizio professionale dell'utente. Tutti i risultati, i calcoli, i dati e le informazioni generati dal Software devono essere obbligatoriamente verificati, approvate e, se necessario, modificate da un Professionista qualificato prima di qualsiasi utilizzo.</p>
    <p class="p mb-[20px]">4.2 L'accettare e la validità delle informazioni dipendono dai dati di input e dai parametri impostati dell'utente, il quale si assume l'integrale responsabilità delle decisioni prese sulla base dei risultati generati dal Software.</p>
    
    <h3 class="h3 mb-[20px]">5 Limitazioni di responsabilità per danni diretti e indiretti</h3>
    <p class="p mb-[20px]">5.1 In nessun caso le Parti Escluse potranno essere ritenute responsabili per:</p>
    <p class="p mb-[20px]">Danni diretti, indiretti o consequenziali derivanti dall'uso del Software, inclusi, ma non limitati a, errori di progettazione, difetti costruttivi, perdite economiche o contestazioni in ambito tecnico, legale o contrattuale.</p>
    <p class="p mb-[20px]">5.2 Conseguenze derivanti dall'uso del Software in contesti regolamentati, come progettazioni ufficiali, certificazioni o per la partecipazione a gare d'appalto.</p>
    <p class="p mb-[20px]">5.3 Anche nel caso in cui la startup Wattover S.r.l fosse stata informata della possibilità di tali danni, nessuna responsabilità potrà essere riconosciuta.</p>
    
    <h3 class="h3 mb-[20px]">6. Manleva</h3>
    <p class="p mb-[20px]">6.1 L'utente si impegna a manlevare e tenere indenne la startup Wattover S.r.l e tutte le Parti Escluse da qualsiasi pretesa, reclamo, azione legale o richiesta di risarcimento danni derivante dall'uso improprio del Software o dall'affidamento esclusivo sui suoi risultati senza verifica professionale.</p>
    
    <h3 class="h3 mb-[20px]">7. Modifiche e Aggiornamenti</h3>
    <p class="p mb-[20px]">7.1 La startup Wattover S.r.l si riserva il diritto di aggiornare, modificare, sospendere o interrompere l'erogazione del Software in qualsiasi momento e senza preavviso. L'uso continuato del Software dopo eventuali aggiornamenti implica l'accettazione delle nuove condizioni.</p>
    
    <h3 class="h3 mb-[20px]">8. Accettazione del Disclaimer</h3>
    <p class="p mb-[20px]">8.1 L'utente dichiara di aver letto, compreso e accettato integralmente il presente Disclaimer, riconoscendo che l'utilizzo del Software Prototipo 1+ è a proprio rischio esclusivo e con piena consapevolezza delle sue limitazioni.</p>
    <p class="p mb-[20px]">8.2 Se l'utente non accetta tali condizioni, è tenuto a non utilizzare il Software.</p>
    
    <h3 class="h3 mb-[20px]">9 Responsabilità secondo il Codice Civile</h3>
    <p class="p mb-[20px]">Le limitazioni di responsabilità stabilite per l'utilizzo del Software si applicano nei limiti consentiti dalla legge e comunque nel limite la responsabilità della startup Wattover S.r.l in caso di dolo o colpa grave, come previsto dall'art. 1229 del Codice Civile. Resta inteso che, salvo tali eccezioni, la startup Wattover S.r.l e le Parti Escluse non potranno essere ritenute responsabili per eventuali danni derivanti dall'uso del Software, essendo l'utente l'unico responsabile della verifica e validazione professionale dei risultati generati.</p>
</div>
{% endblock %}