{% extends "layout_legal.html" %}
{% block title %}
    Termini e Condizioni
{% endblock %}
{% block content %}
{% load static %}
<div class="h-calc-100-minus-200 px-4 sm:px-6 md:px-12 lg:px-24 xl:px-[200px] pt-[100px] sm:pt-[150px] md:pt-[200px] pb-[30px] sm:pb-[40px] md:pb-[60px]">
    <h2 class="h2 mb-[20px]">TERMINI E CONDIZIONI D'USO DEL PROTOTIPO – TEST FOCUS GROUP</h2>
    
    <p class="p mb-[20px]">In vigore dal: 05/03/2025</p>
    
    <p class="p mb-[20px]">Benvenuto/a nel programma di test del prototipo di Wattover srl (di seguito, la "Piattaforma"). L'accesso e l'utilizzo della Piattaforma in questa fase sono regolati dai presenti Termini e Condizioni d'Uso (di seguito, i "Termini").</p>
    <p class="p mb-[20px]">Accedendo e utilizzando la Piattaforma, l'utente accetta integralmente i presenti Termini. Se non si accettano tali condizioni, l'utente è tenuto a cessare immediatamente l'utilizzo della Piattaforma.</p>
    
    <h3 class="h3 mb-[20px]">1. Scopo della piattaforma e natura del test</h3>
    <p class="p mb-[20px]">1.1. La Piattaforma è attualmente in fase di test e viene rilasciata esclusivamente a un gruppo ristretto di utenti selezionati (di seguito, il "Focus Group").</p>
    <p class="p mb-[20px]">1.2. Lo scopo del test è valutare il funzionamento del prototipo, raccogliere feedback e identificare eventuali miglioramenti.</p>
    <p class="p mb-[20px]">1.3. L'accesso alla Piattaforma è limitato e riservato esclusivamente agli utenti che hanno ricevuto un invito ufficiale. Qualsiasi accesso o utilizzo da parte di soggetti non invitati è vietato.</p>
    <p class="p mb-[20px]">1.4. Il test è a titolo gratuito e non prevede alcun pagamento da parte dell'utente.</p>
    
    <h3 class="h3 mb-[20px]">2. Restrizioni e condizioni di utilizzo</h3>
    <p class="p mb-[20px]">2.1. L'utente è tenuto a rispettare le seguenti condizioni nell'utilizzo della Piattaforma:</p>
    <p class="p mb-[20px]">Non condividere le proprie credenziali di accesso con terzi.</p>
    <p class="p mb-[20px]">Non consentire a soggetti non autorizzati di accedere alla Piattaforma.</p>
    <p class="p mb-[20px]">Non riprodurre, distribuire, copiare o divulgare, in alcun modo, contenuti, informazioni, dati o risultati generati dalla Piattaforma.</p>
    <p class="p mb-[20px]">Non utilizzare la Piattaforma per finalità commerciali o per scopi diversi da quelli previsti dal test.</p>
    <p class="p mb-[20px]">Non tentare di alterare, modificare, decompilare o analizzare il codice sorgente del software.</p>
    <p class="p mb-[20px]">2.2. Qualsiasi violazione delle presenti condizioni potrà comportare la revoca immediata dell'accesso alla Piattaforma e, ove necessario, azioni legali a tutela di Wattover srl.</p>
    
    <h3 class="h3 mb-[20px]">3. Limitazione di responsabilità</h3>
    <p class="p mb-[20px]">3.1. La Piattaforma è rilasciata "così com'è" ("as is"), senza alcuna garanzia esplicita o implicita in merito alla sua funzionalità, affidabilità o accuratezza.</p>
    <p class="p mb-[20px]">3.2. I risultati generati dal software sono puramente sperimentali e potrebbero contenere errori, imprecisioni o anomalie. Tali risultati non possono essere utilizzati per finalità professionali, commerciali o decisionali.</p>
    <p class="p mb-[20px]">3.3. L'utente accetta che Wattover non sarà in alcun modo responsabile per eventuali danni diretti, indiretti, incidentali o consequenziali derivanti dall'uso della Piattaforma, inclusi:</p>
    <p class="p mb-[20px]">Perdite economiche o finanziarie.</p>
    <p class="p mb-[20px]">Danni derivanti da errori nei risultati elaborati dal software.</p>
    <p class="p mb-[20px]">Malfunzionamento o interruzioni del servizio.</p>
    <p class="p mb-[20px]">3.4. Wattover srl si riserva il diritto di modificare, sospendere o interrompere l'accesso alla Piattaforma in qualsiasi momento, senza preavviso.</p>
    
    <h3 class="h3 mb-[20px]">4. Protezione dei dati e riservatezza</h3>
    <p class="p mb-[20px]">4.1. I dati e le informazioni trattate nell'ambito della Piattaforma sono riservati e non devono essere divulgati a terzi.</p>
    <p class="p mb-[20px]">4.2. L'utente si impegna a non copiare, condividere o diffondere contenuti, interfacce, dati di elaborazione o altre informazioni inerenti relative alla Piattaforma.</p>
    <p class="p mb-[20px]">4.3 Wattover srl garantisce il trattamento dei dati personali degli utenti in conformità con il Regolamento UE 2016/679 (GDPR) e la normativa nazionale vigente. Maggiori dettagli sul trattamento dei dati sono disponibili nella Privacy Policy.</p>
    
    <h3 class="h3 mb-[20px]">5. Durata del test e cessazioni dell'accesso</h3>
    <p class="p mb-[20px]">5.1. Il periodo di test ha una durata limitata, stabilita a discrezione di Wattover srl. L'accesso alla Piattaforma potrà essere revocato in qualsiasi momento senza necessità di preavviso.</p>
    <p class="p mb-[20px]">5.2. Al termine del test, l'utente potrebbe perdere l'accesso ai dati inseriti o ai risultati elaborati. Si consiglia di non fare affidamento sui dati salvati nella Piattaforma, in quanto potrebbero essere eliminati senza preavviso.</p>
    
    <h3 class="h3 mb-[20px]">6. Modifiche ai termini</h3>
    <p class="p mb-[20px]">6.1. Wattover srl si riserva il diritto di modificare o aggiornare i presenti Termini in qualsiasi momento. Le modifiche entreranno in vigore dalla data della loro pubblicazione sulla Piattaforma.</p>
    
    <h3 class="h3 mb-[20px]">7. Legge applicabile e foro competente</h3>
    <p class="p mb-[20px]">7.1. I presenti Termini sono regolati dalla legge italiana.</p>
    <p class="p mb-[20px]">7.2. Qualsiasi controversia derivante dall'uso della Piattaforma sarà di competenza esclusiva del Foro di Milano.</p>
    
    <h3 class="h3 mb-[20px]">8. Accettazione dei termini</h3>
    <p class="p mb-[20px]">8.1. L'utente dichiara di aver letto, compreso e accettato integralmente i presenti Termini e Condizioni d'Uso.</p>
    <p class="p mb-[20px]">Se non si accettano tali condizioni, l'utente deve interrompere immediatamente l'utilizzo della Piattaforma.</p>
</div>
{% endblock %}